<div class="h-full w-full flex flex-col">
  <div class="flex-none border-b px-5 py-[10px] flex flex-row justify-between items-center">
    <h1 class="text-gray-700 font-semibold">ToDo List</h1>
    <div class="flex flex-row gap-2 items-center">
      <button (click)="logOut()" class="p-2 bg-gray-500/20 text-gray-500 rounded-full flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
        </svg>
      </button>
      <button (click)="addTodo()" class="p-2 bg-indigo-500/20 text-indigo-500 rounded-full flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="h-full w-full overflow-y-auto">
    <div class="p-5 flex flex-col gap-2">
      <ng-container *ngFor="let item of list; let i = index">
        <app-todo-list-item
          [item]="item"
        ></app-todo-list-item>
      </ng-container>
    </div>
  </div>
</div>
